@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h4 class="display-4">User management table</h4>
    <hr />
</div>


<div>
    <button type="button" class="btn btn-primary btn-sm">Block</button>
    <button type="button" class="btn btn-secondary btn-sm">Unblock</button>
    <button type="button" class="btn btn-secondary btn-sm">Delete</button>
</div>

<div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" onClick="toggle(this)" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                        </label>
                    </div>
                </th>
                <th scope="col">id</th>
                <th scope="col">Name</th>
                <th scope="col">e-mail</th>
                <th scope="col">Last login time</th>
                <th scope="col">Registration time</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Users.Count(); i++)
            {
                <tr>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="row" value="" id="flexCheck@(i)">
                            <label class="form-check-label" for="flexCheckDefault">
                            </label>
                        </div>
                    </td>
                    <th scope="row">@(i + 1)</th>
                    <td>@Model.UserNames[i]</td>
                    <td>@Model.UsersEmail[i]</td>
                    <td>@Model.UsersLastLogin[i]</td>
                    <td>@Model.UsersRegiastrationTime[i]</td>
                    <td>@Model.UsersStatus[i]</td>
                </tr>
            }

        </tbody>
    </table>

</div>

<script>
    function toggle(source) {
        checkboxes = document.getElementsByName('row');
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            checkboxes[i].checked = source.checked;
        }
    }
</script>